<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @inventory.name %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @inventory.quality %>
</p>

<p>
  <strong>Pict url:</strong>
  <%= @inventory.pict_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @inventory.description %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @inventory.availability %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @inventory.producer_id %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
