<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @producer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @producer.address %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @producer.hours %>
</p>

<p>
  <strong>Description:</strong>
  <%= @producer.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @producer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @producer.email %>
</p>

<%= link_to 'Edit', edit_producer_path(@producer) %> |
<%= link_to 'Back', producers_path %>
